h1, h2 {
    text-align: center;
}

body {
    background: #141E30;
    color: white;
}


table {
    margin-left: auto;
    margin-right: auto;
}
button {
    padding: 10px;
    width: 120px;
    height: 45px;
    text-align: center;
    font-size: 14px;
    background: transparent;
    border-color: white;
    border-width: medium;
    color: white;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centerText {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-auto-rows: minmax(100px, auto);
    padding-left: 2em;
    padding-right: 2em;
}

.nested {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
}

.subject {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-family: 'Sulphur Point', sans-serif;
}

.largeFont {
    font-size: large;
}

.sulphurFont {
    font-family: 'Sulphur Point';
}